.footer {
    display: flex;
    background-image: url('../../../images/bg-pattern-circles.svg');
    background-position: -10px -100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 80px 0 0;
}

.footer-image {
    width: 20%;
    position: relative;
    bottom: 50px;

}
.footer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-heading {
    color: white;
    font-size: 32px;
}

.footer-text {
    color: white;
}

